<h1>My Portfolio</h1>

<h3>Search Stocks</h3>

<%= form_tag search_stock_path, remote: true, method: :get do %>

<%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol" %>

<%= button_tag type: :submit do %>
<%= fa_icon 'search' %>
<%end%>


<% end %>

<div id="results"></div>

